.answer__title{
    font-family: 'Oswald',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    color: #000000;
    margin-top: 150px;
    text-align: center;
}
.answer__suptitle{
    font-family: 'Oswald',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #F7654A;
    margin-top:50px;
    margin-bottom: 40px;
}
.answer__polygon{
    margin: 0 15px 4px 0;
}
.answer__polygon__active{
    transform: rotate(0.08turn);
    margin: 0 15px 4px 0;
}
.answer__text{
    font-family: 'Open Sans',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #999999;
    width: 730px;
}