.partners{
    background-color: #404149;
}
.partners__row{
    justify-content: space-around;
}
.partners__title{
    font-family: 'Oswald',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    padding: 100px 0 60px 0;
}
.partners__img{
    margin-bottom: 100px;
}