@media screen  and (max-width:768px ){
    .hero__title{
        font-size: 80px;
        line-height: 110px;
    }
    .hero__suptitle{
        font-size: 30px;
        line-height: 35px;
    }
}
@media screen  and (max-width:378px){
    .hero__title{
        width: 100%;
        font-size: 40px;
        line-height: 58px;
        padding: 160px 0 0 0 ;
    }
    .hero__suptitle{
        font-size: 18px;
        line-height: 38px;
    }
}
@media screen  and (max-width:390px){
    .hero__title{
        width: 100%;
        font-size: 20px;
        line-height: 58px;
        padding: 160px 0 0 0 ;
    }
    .hero__suptitle{
        font-size: 18px;
        line-height: 38px;
    }
}