@media screen  and (max-width:768px ){
    .hero__title{
        font-size: 80px;
        line-height: 110px;
    }
    .hero__suptitle{
        font-size: 30px;
        line-height: 35px;
    }
}
@media screen  and (min-width:375px){
    .hero__title{
        width: auto;
        font-size: 60px;
        line-height: normal;
    }
    .hero__suptitle{
        font-size: 30px;
        line-height: 38px;
    }
}